<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Resultado</title>
</head>
<body>

    <% if(message != ""){ %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% } %>

    <h1><%= titulo %></h1>
    <span>Nome:</span>
    <p><%= nome %></p>

    <span>Email:</span>
    <p><%= email %></p>

    <span>Senha:</span>
    <p><%= senha %></p>

    <script src="/js/script.js"></script>
</body>
</html>